@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=IBM+Plex+Serif:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(249.39deg, #0D0C4D -1.22%, #161620 103.79%);
}

/* Utility classes */

:root{
  --inter: 'Inter', sans-serif;
  --ibm-plex-sans: 'IBM Plex Sans', sans-serif;
  --ibm-plex-serif: 'IBM Plex Serif', serif;
  --whyte-inktrap: 'Whyte Inktrap';
  --nav-bar-bg: rgba(31, 29, 43, 0.37);
  --btn-bg: #D331BB;
  --btn-bgHover: #960779;
  --numbers-bg: #262222;
  --ash: #a5a5a5;
  --grey: #B9B8FF;
  --logo-bg: linear-gradient(0deg, rgba(91, 91, 91, 0.54), rgba(91, 91, 91, 0.54)), #000000;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

a{
  text-decoration: none;
  color: #fff;
}

.btn a{
  width: 231px;
  height: 58px;
  padding: 15px 25px;
  border-radius: 2px;
  background: var(--btn-bg);
  border: none;
  outline: none;
  font-family: var(--ibm-plex-serif);
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 12rem;
}

.btn a:hover{
  background: var(--btn-bgHover);
}

@media screen and (max-width: 768px){
  .btn a{
    width: 100%;
  }
}


/* Main components code */


/* Navbar */

#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding: 20px 150px;
  font-family: var(--inter);
  background: var(--nav-bar-bg);
  backdrop-filter: blur(48px);
}

.logo{
  color: var(--white);
  font-size: 28px;
  font-family: var(--ibm-plex-sans) !important;
  font-weight: 600;
}

#sideLink{
  display: flex;
  align-items: center;
  position: relative;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.nav-links ul li:nth-child(4){
  margin-right: 5rem;
}

.nav-links ul li a{
  font-size: 18px;
  font-weight: 500;
}

.nav-links ul li::after{
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: var(--btn-bg);
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

#navbar .fa{
  display: none;
}

/* navbar@media query:1024px */

@media screen and (max-width:1024px) {
  #navbar{
    padding: 25px 80px;
    position: fixed;
    width: 100%;
  }
}


/* Navbar@media query:768px */

@media screen and (max-width: 768px){
  #navbar{
    padding: 18px 30px;
    position: fixed;
    width: 100%;
  }

  .logo{
    font-size: 18px;
  }

  .nav-links ul li:nth-child(4){
    margin-right: none;
    border-bottom: none;
  }

  #sideLink{
    flex-direction: column;
  }
  
  .navBtn{
    align-self: center;
    margin-top: 20px;
  }

  .nav-links ul li{
    display: block;
    border-bottom: 1px solid var(--btn-bg);
  }

  #sideLink{
    position: fixed;
    background: var(--numbers-bg);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav-links ul li::after{
    display: none;
  }

  #navbar .fa{
    display: block;
    color: var(--white);
    margin: 10px;
    font-size: 25px;
    cursor: pointer;
  }
}


/* lanPage code */

#lanPage{
  padding: 100px 150px;
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
}

.lanTxt{
  width: 579px;
  height: 260px;
}

.lanTxt h1{
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 35px;
  font-family: var(--whyte-inktrap);
  line-height: 86px;
}

.lanTxt p{
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  font-family: var(--ibm-plex-sans);
}

.bidBtn{
  margin-top: 4rem;
}

.lanImg{
  position: relative;
  z-index: -1;
}

.lanImg img{
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.lanImg .img1{
  z-index: 3;
  width: 380px;
  height: 550px;
  object-fit: cover;
  top: 0;
  left: 0;
}

.lanImg .img2{
  z-index: 2;
  width: 400px;
  height: 515px;
  top: 20px;
  left: 5px;
  object-fit: cover;
}

.lanImg .img3{
  z-index: 1;
  width: 440px;
  height: 480px;
  top: 40px;
  left: 2px;
  object-fit: cover;
}

/* lanPage@media query:1024px */

@media screen and (max-width: 1024px){
  #lanPage{
    padding: 120px 80px;
    margin: auto;
    grid-column-gap: 3rem;
  }

  .lanImg .img1{
    z-index: 3;
    width: 320px;
    height: 510px;
    object-fit: cover;
    top: 0;
    left: 0;
  }
  
  .lanImg .img2{
    z-index: 2;
    width: 320px;
    height: 480px;
    top: 20px;
    left: 5px;
    object-fit: cover;
  }
  
  .lanImg .img3{
    z-index: 1;
    width: 340px;
    height: 450px;
    top: 40px;
    left: 2px;
    object-fit: cover;
  }
}

/* lanPage@media query:768px */

@media screen and (max-width: 768px){
  #lanPage{
    grid-template-columns: 1fr;
    padding: 91px 30px;
  }

  .lanTxt{
    width: 100%;
    height: auto;
  }

  .lanTxt h1{
    font-size: 36px;
    line-height: 43px;
    padding-top: 2rem;
  }

  .lanTxt p{
    font-size: 14px;
    line-height: 20px;
  }

  .bidBtn{
    width: 100%;
    text-align: center;
  }

  .lanImg{
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }

  .lanImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .lanImg .img1{
    width: 230px;
    height: 320px;
    object-fit: cover;
    z-index: 3;
    top: 0;
    left: 0;
  }

  .lanImg .img2{
    width: 200px;
    height: 300px;
    object-fit: cover;
    z-index: 2;
    top: 10px;
    left: 70px;
  }

  .lanImg .img3{
    width: 200px;
    height: 280px;
    object-fit: cover;
    z-index: 1;
    top: 20px;
    left: 100px;
  }
}


/* automated code */

#automated{
  color: var(--white);
  background: rgba(38,34,34,0.25);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  --webkit-backdrop-filter: blur(20px);
  margin-top: 15rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 2rem 1rem;
}

#automated div{
  border-right: 1px solid var(--white);
  padding: 0 2rem;
}

#automated h3{
  font-size: 32px;
  font-weight: 600;
  font-family: var(--whyte-inktrap);
  line-height: 38px;
}

#automated p{
  font-size: 18px;
  font-weight: 400;
  font-family: var(--ibm-plex-serif);
  line-height: 25px;
}

#automated div:last-child{
  border-right: none;
}


/* automated@media query:768px */

@media screen and (max-width: 768px){
  #automated{
    grid-template-columns: 1fr;
    place-self: center;
    padding: 2rem 0;
    margin-top: 25rem;
    width: 10rem;
  }

  #automated div{
    padding: 0;
    border-right: none;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #automated h3{
    font-size: 24px;
    margin-top: 1.5rem;
  }

  #automated p{
    font-size: 14px;
  }
}



/* Partners code */

#partners{
  color: var(--white);
  background: rgba(53,61,119,0.1);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  --webkit-backdrop-filter: blur(20px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  margin: auto;
  width: 1050px;
  height: 130px;
}

.part{
  display: flex;
  align-items: center;
  gap: 5px;
}

.partName{
  font-size: 25px;
  font-weight: 400;
  font-family: var(--ibm-plex-sans);
  line-height: 20px;
}

span img{
  width: 50px;
  height: 50px;
}


/* Partners@media query:1024px */

@media screen and (max-width: 1024px){
  #partners{
    grid-template-columns: repeat(5, 1fr);
    width: 850px;
  }
}


/* Partners@media query:768px */

@media screen and (max-width: 768px){
  #partners{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    height: 100px;
    gap: 10px;
    place-self: center;
    margin: auto;
    width: 10rem;
    height: 20rem;
  }

  .part{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .partName{
    font-size: 16px;
  }

  span img{
    width: 30px;
    height: 30px;
  }
}


/* Top seller code */

#seller{
  width: 1050px;
  margin: 7rem auto;
}

#seller h3{
  font-family: var(--whyte-inktrap);
  font-weight: 900;
  font-size: 30px;
  color: var(--white);
  margin-bottom: 5rem;
}

.selGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .5rem 1rem;
}

.selBox{
  background: url('./Assets/Blur-bg/blur\ background\ 1.svg');
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.selBox img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.selCap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.selName{
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
}

.selBox .eth{
  font-family: var(--ibm-plex-sans);
  font-weight: 500;
  font-size: 16px;
  color: var(--ash);
}

/* top seller@media query:1024px */

@media screen and (max-width: 1024px){
  #seller{
    width: 800px;
    margin: auto;
    margin-top: 3rem;
  }

  #seller h3{
    font-size: 24px;
  }

  .selGrid{
    grid-template-columns: repeat(2, 1fr);
  }

  .selBox{
    padding: 1rem 1rem;
  }

  .selBox img{
    width: 60px;
    height: 60px;
  }

  .selCap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .selName{
    font-size: 16px;
  }

  .selBox .eth{
    font-size: 14px;
  }
}


/* Top seller@media query:768px */

@media screen and (max-width: 768px){
  #seller{
    width: 85%;
    margin-top: 5rem;
  }

  #seller h3{
    font-size: 24px;
    margin-bottom: 3rem;
  }

  .selGrid{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem 1rem;
  }

  .selBox{
    padding: 1rem 1rem;
  }

  .selBox img{
    width: 60px;
    height: 60px;
  }

  .selCap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .selName{
    font-size: 16px;
  }

  .selBox .eth{
    font-size: 14px;
  }
}



/* Explore code */

#explore{
  width: 1050px;
  margin: 7rem auto;
}

#exView{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#exView h3{
  font-family: var(--whyte-inktrap);
  font-weight: 900;
  font-size: 30px;
  color: var(--white);
}

#exGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem 1rem;
  margin-top: 5rem;
}

#exGrid .exBox{
  background: url('./Images/monster.jpg') center center/cover;
  display: grid;
  align-content: end;
  width: 340px;
  height: 496px;
}

#exGrid .exBox:nth-child(2){
  background: url('./Images/3D.jpg') center center/cover;
}

#exGrid .exBox:nth-child(3){
  background: url('./Images/3D\ block.jpg') center center/cover;
}

#exGrid .exBox:nth-child(4){
  background: url('./Images/flame.jpg') center center/cover;
}

#exGrid .exBox:nth-child(5){
  background: url('./Images/etherum.jpg') center center/cover;
}

#exGrid .exBox:nth-child(6){
  background: url('./Images/tezos.jpg') center center/cover;
}

#exGrid .exEnd{
  height: 186px;
  background: rgba(193,184,184,0.75);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  --webkit-backdrop-filter: blur(20px);
  padding: 2rem;
}

#exGrid .div1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ibm-plex-sans);
  line-height: 2rem;
}

#exGrid .div1 .city{
  font-weight: 700;
  color: var(--black);
  font-size: 20px;
  font-family: var(--ibm-plex-serif);
}

#exGrid .div1 .name{
  text-decoration-line: underline;
}

.div1 .endEth{
  font-size: 20px;
  font-weight: 900;
  font-family: var(--whyte-inktrap);
  line-height: 2rem;
  color: var(--grey);
}

#exGrid .endBtn{
  background: var(--black);
  margin-top: 1rem;
  border: none;
  padding: 1rem 2rem;
  font-family: var(--ibm-plex-sans);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--ash);
  cursor: pointer;
}


/* Explore@media query:768px */

@media screen and (max-width: 768px){
  #explore{
    width: 85%;
    margin-top: 5rem;
    /* margin: auto; */
  }

  #exView{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #exView h3{
    font-size: 24px;
  }

  #exGrid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem 1rem;
    margin-top: 3rem;
  }

  #exGrid .exBox{
    width: 100%;
    height: 496px;
  }

  #exGrid .exEnd{
    height: 165px;
    padding: 1rem;
  }

  #exGrid .div1{
    font-size: 14px;
  }

  #exGrid .div1 .city{
    font-size: 16px;
  }

  #exGrid .div1 .name{
    font-size: 14px;
  }

  .div1 .endEth{
    font-size: 16px;
  }

  #exGrid .endBtn{
    padding: 1rem 1rem;
    font-size: 14px;
  }
}


/* Collections code */

#collection{
  width: 1050px;
  margin: 7rem auto;
}

#collection h3{
  font-family: var(--whyte-inktrap);
  font-weight: 900;
  font-size: 30px;
  color: var(--white);
}

#colGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem 1rem;
  margin-top: 5rem;
}

#colGrid .cartEl-1{
  display: flex;
  gap: .5rem;
}

#colGrid .cartEl-1 .cart1{
  width: 215px;
  height: 198px;
  object-fit: cover;
}

.cartFlex{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cartFlex img{
  width: 117px;
  height: 95px;
  object-fit: cover;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.cartEl-2 {
  display: grid;
  align-content: end;
  width: 340px;
  height: 170px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  background: url('./Images/cartoon-4.png')center center/cover;
}

.cartEl-3{
  display: grid;
  align-content: end;
  width: 340px;
  height: 170px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  background: url('./Images/astronaut.png')center center/cover;
}

.cart4-end{
  height: 82px;
  background: rgba(102,89,89,0.7);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  --webkit-backdrop-filter: blur(6.4px);
  padding: 2rem;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.cart4-end span{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart4-end span p:nth-child(1){
  font-family: var(--whyte-inktrap);
  font-weight: 700;
  font-size: 24px;
  color: var(--white);
}

.cart4-end span p:nth-child(2){
  font-family: var(--ibm-plex-sans);
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
}


/* Collections@media query:768px */

@media screen and (max-width:768px) {
  #collection{
    width: 85%;
    margin-top: 5rem;
    /* margin: auto; */
  }
  
  #colGrid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem 1rem;
    margin-top: 5rem;
  }

  #colGrid .cartEl-1 .cart1{
    width: 190px;
    height: 198px;
  }

  .cartEl-2, .cartEl-3 {
    width: 315px;
    height: 170px;
  }

  .cart4-end {
    height: 60px;
    padding: 1.2rem;
  }
}


/* Drop code */

#drop{
  width: 1050px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#drop .dropCont{
  width: 579px;
  margin-top: 5rem;
}

.dropCont h3{
  font-family: var(--whyte-inktrap);
  font-weight: 900;
  font-size: 30px;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.dropCont p{
  font-family: var(--ibm-plex-sans);
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  margin-bottom: 2rem;
}

.dropInp{
  display: flex;
  justify-content: space-between;
}

.dropInp input{
  width: 352px;
  height: 58px;
  background: rgba(255,255,255,0.1);
  border: none;
  padding: 1rem;
  outline: none;
  font-family: var(--ibm-plex-sans);
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  margin-bottom: 1rem;
}

.dropInp input::placeholder{
  font-family: var(--ibm-plex-serif);
  font-weight: 500;
  font-size: 18px;
  color: #b8b8b8;
}

.dropInp button{
  width: 231px;
  height: 58px;
  background: var(--btn-bg);
  border: none;
  outline: none;
  font-family: var(--ibm-plex-serif);
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
  cursor: pointer;
}

.dropInp button:hover{
  background: var(--btn-bgHover);
}

/* Drop@media query:768px */

@media screen and (max-width:768px) {
  #drop{
    width: 85%;
    padding: 5rem auto;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  #drop .dropImg{
    padding-top: 5rem;
  }

  #drop .dropImg img{
    width: 320px;
    height: 261px;
  }

  #drop .dropCont{
    width: 100%;
    margin-top: 2rem;
  }

  .dropCont h3{
    font-size: 38px;
  }

  .dropCont p{
    font-size: 14px;
  }

  .dropInp{
    display: flex;
    flex-direction: column;
  }

  .dropInp input{
    width: 100%;
  }

  .dropInp button{
    width: 100%;
    height: 50px;
  }
}


/* Footer code */

#footer{
  width: 1050px;
  margin: auto;
  margin-top: 7rem;
}

#footer .footCont{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.5rem;
}

#footer .useful{
  width: 117px;
}

#footer .stats{
  width: 70px;
}

#footer .follow{
  width: 121px;
}

#footer .resources{
  width: 200px;
}

#footer .footEl ul{
  list-style: none;
}

#footer .footEl ul li{
  font-family: var(--ibm-plex-sans);
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  margin-bottom: .5rem;
}

#footer .footEl p{
  width: 289px;
  font-family: var(--ibm-plex-sans);
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  margin-top: 1.5rem;
}

#footer .heading{
  font-family: var(--whyte-inktrap);
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.footEl .brands{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .footEnd{
  text-align: center;
  margin-top: 2rem;
  color: var(--white);
  
}

#footer .footEnd p{
  font-family: var(--whyte-inktrap);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}

.footEnd span a{
  font-family: var(--whyte-inktrap);
  font-weight: 900;
  font-size: 16px;
  color: var(--btn-bg);
}


/* Footer@media query:768px */

@media screen and (max-width: 768px) {
  #footer{
    width: 85%;
    margin: auto;
    margin-top: 5rem;
  }

  #footer .footCont{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
  }
}